.questionContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    height: 4rem;
}

.questionBox, button.questionBox:hover {
    flex: 0 0 1rem;
    background-color: var(--bg-color-light);
    color: var(--bg-color-light);
    border-radius: 2px;
    border: solid 1px var(--bg-color-dark);
    padding: 0;
    overflow: hidden;
}



.current.questionBox, button.current.questionBox:hover {
    border-color: currentColor;
}

.current.questionContainer {
    flex: 1.2;

}

.current.completed {
    /* border-color: var(--text-color); */
}

.completed {
    background-color: var(--text-color-muted);
    color: var(--text-color-muted);
}

.incorrect, button.incorrect:hover {
    background-color: var(--red);
    color: var(--red);
}

.correct, button.correct:hover {
    background-color: var(--green);
    color: var(--green);
}

.reviewed {
    opacity: 0.8;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.content {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;
    padding: 0 2rem;
    padding-left: 5rem;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .content {
        max-width: 700px;
        width: 100%;
        padding-left: 2rem;
    }
}