:root {
    --accent: brown;
    --max-nav-height: 60px;
    --background-color: #191919;
    --content-background-color: #131313;
    --primary-text-color: white;
}

body {
    background-color: var(--background-color);
}

* {
    transition: 0.2s;
    color: var(--primary-text-color);
}

select {
    background-color: var(--content-background-color);
    border-radius: 2px;
    border: solid 1px var(--background-color);
}

select:hover {
    background-color: var(--content-background-color);
    cursor: pointer;
}

.list-container {
    display: grid;
    /* grid-auto-rows: 40px; */
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}

.list-link {
    transition: all 0.1s ease-in-out;
    backface-visibility: hidden;
    height: 150px;
    display: inline-grid;
    align-content: center;
    justify-items: start;
    justify-content: space-evenly;
}

.complete p, .complete h2{
    color: rgb(169, 213, 189);
}

.list-link:hover {
    /* background-color: rgb(238, 238, 238); */
    color: black;
}

.list-item {
    align-items: center;
    align-content: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* h1, p{
    cursor: default;
} */

.body-div {
    margin-bottom: var(--max-nav-height);
    margin-left: 7%;
    margin-right: 7%;
}

.accent-link {
    transition: 0.2s;
}

.accent-link:hover {
    transition: 0.2s;
    color: var(--accent);
}

.page-title {
    transition: 0.2s;
    font-size: 48px;
    margin: 20px 0px 20px 0px;
}

.page-title:hover {
    transition: 0.2s;
    color: var(--accent);
    letter-spacing: 1px;
    cursor: default;
}

.subject-list-item {
    transition: 0.2s;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subject-list-item:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: lightgray;
}

.subject-list-item:hover label {
    cursor: pointer;
}

.subject-label {
    transition: 0.2s;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subject-label:hover {
    transition: 0.2s;
    cursor: pointer;
    color: var(--accent);
}

.default-form button {
    transition: 0.2s;
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border-radius: 4px;
    border: none;
    color: var(--content-background-color);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: var(--primary-text-color);
}

.default-form button:hover {
    transition: 0.2s;
    background-color: var(--accent);
}

.default-form button:focus {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.default-form input {
    transition: 0.2s;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px;
    border: solid 1px black;
    width: 100%;
}

.default-form input:focus {
    outline: none;
    transition: 0.2s;
    border: solid 2px var(--accent);
}

input[type="checkbox"] {
    accent-color: var(--accent);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}