:root {
    --accent: brown;
    --max-nav-height: 60px;
    --background-color: #f2f2f2;
    --content-background-color: white;
    --primary-text-color: black;
    --green: #60b888;
    --red: #F2545B;
    --blue: #28afb0;
    --gold: #ffc71f;
    --faded-opacity: 0.5;
    --toastify-color-info: var(--accent) !important;
    --toastify-text-color-info: var(--primary-text-color) !important;
}

@media (prefers-color-scheme: light) {
    :root{
        color-scheme: light;
        --background-color: #f7f7f7;
        --content-background-color: #c5c5c57d;
        --primary-text-color: black;

        --bg-color-dark: hsl(0, 0%, 90%);
        --bg-color: hsl(0, 0%, 95%);
        --bg-color-light: hsl(0, 0%, 100%);
        --text-color: hsl(0, 0%, 5%);
        --text-color-muted: hsl(0, 0%, 30%);
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        color-scheme: dark;
        --background-color: #0b0b0b;
        --content-background-color: #2d2d2d7d;
        --primary-text-color: white;

        --bg-color-light: hsl(0, 0%, 10%);
        --bg-color: hsl(0, 0%, 5%);
        --bg-color-dark: hsl(0, 0%, 0%);
        --text-color: hsl(0, 0%, 95%);
        --text-color-muted: hsl(0, 0%, 70%);

    }
}

@font-face {
    font-family: 'verdanaregular';
    src: url('../fonts/Verdana/verdana-webfont.woff2') format('woff2'),
         url('../fonts/Verdana/verdana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanabold';
    src: url('../fonts/Verdana/verdana-bold-webfont.woff2') format('woff2'),
         url('../fonts/Verdana/verdana-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'verdanabold_italic';
    src: url('../fonts/Verdana/verdana-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/Verdana/verdana-bold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'beach-sound';
    src: url('../fonts/beach-sound-font/BeachSoundIkiikocom-Wy2l9.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glafton';
    src: url('../fonts/glafton-font/GlaftonDemo-nRwpO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'replay';
    src: url('../fonts/replay-font/ReplayDemo-2OV1e.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ropers';
    src: url('../fonts/ropers-2-font/RopersRegular-Wyawn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-bold';
    src: url('../fonts/Josefin/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-bold-italic';
    src: url('../fonts/Josefin/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'josefin-italic';
    src: url('../fonts/Josefin/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'josefin-light';
    src: url('../fonts/Josefin/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-light-italic';
    src: url('../fonts/Josefin/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'josefin-regular';
    src: url('../fonts/Josefin/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-semibold';
    src: url('../fonts/Josefin/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-semibold-italic';
    src: url('../fonts/Josefin/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'josefin-thin';
    src: url('../fonts/Josefin/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-thin-italic';
    src: url('../fonts/Josefin/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'altone-bold';
    src: url('../fonts/Altone/AltoneTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'altone-bold-italic';
    src: url('../fonts/Altone/AltoneTrial-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'altone-regular';
    src: url('../fonts/Altone/AltoneTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'altone-regular-italic';
    src: url('../fonts/Altone/AltoneTrial-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'montserrat-italic';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

body {
    background-color: var(--background-color);
}

/* body::before {
    
    content: "";
    background-color: var(--primary-text-color);
    height: 41px;
    aspect-ratio: 1;
    position: absolute;
    top: var(--mouseY);
    left: var(--mouseX);
    opacity: var(--faded-opacity);
    border-radius: 50%;
    mix-blend-mode: overlay;
    box-shadow: var(--primary-text-color) 0px 0px 20px 16px;

} */

* {
    transition: 0.2s;
    color: var(--primary-text-color);
}

p, h1, h2, h3, h4, h5, h6 {
    
    cursor: default;
    
}

p {
    font-size: 15px;
}

select {
    background-color: var(--content-background-color);
    border-radius: 2px;
    border: solid 1px var(--background-color);
}

select option {
    background-color: var(--background-color);
}

select:hover {
    background-color: var(--content-background-color);
    cursor: pointer;
}

.list-container {
    display: grid;
    /* grid-auto-rows: 40px; */
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}

.list-link {
    transition: all 0.1s ease-in-out;
    backface-visibility: hidden;
    height: 150px;
    display: inline-grid;
    align-content: center;
    justify-items: start;
    justify-content: space-evenly;
}

.complete :is(p, h2) {
    color: var(--gold);
}

.complete {
    
    opacity: var(--faded-opacity);
    
}

.list-link:hover {
    /* background-color: rgb(238, 238, 238); */
    color: black;
}

.list-item {
    align-items: center;
    align-content: center;
}

a, a *{
    text-decoration: none;
    cursor: pointer;
}

/* h1, p{
    cursor: default;
} */

.body-div {
    margin-bottom: var(--max-nav-height);
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 32px;
}

.accent-link {
    transition: 0.2s;
}

.accent-link:hover {
    transition: 0.2s;
    color: var(--accent);
}

.subject-list-item {
    transition: 0.2s;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subject-list-item:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: lightgray;
}

.subject-list-item:hover label {
    cursor: pointer;
}

.subject-label {
    transition: 0.2s;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.subject-label label:hover {
    transition: 0.2s;
    cursor: pointer;
    color: var(--accent);
}

.notUserSub {
    opacity: var(--faded-opacity);
}

.default-form button {
    transition: 0.2s;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    color: var(--background-color);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: var(--primary-text-color);
}

.default-form button:disabled {
    opacity: 0.5;
    cursor:default;
}

.default-form button:not(:disabled):hover {
    transition: 0.2s;
    background-color: var(--accent);
}

.default-form button:focus {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.default-form input {
    transition: 0.2s;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px;
    border: solid 2px transparent;
    width: 100%;
    background-color: var(--content-background-color);
}

.default-form input:-internal-autofill-selected{
    -webkit-box-shadow: 0 0 0 30px var(--content-background-color) inset;
    box-shadow: 0 0 0 30px var(--content-background-color) inset;
    -webkit-text-fill-color: var(--primary-text-color);
}

.default-form input:focus {
    outline: none;
    transition: 0.2s;
    border-color: var(--accent);
}

input[type="checkbox"] {
    accent-color: var(--accent);
    vertical-align: middle;
    margin-left: 13px;
    margin-right: 0px;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

button {
    background-color: var(--primary-text-color);
    color: var(--content-background-color);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 3px 7px;
}

button:not(:disabled):hover {
    background-color: var(--accent);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

textarea {
    background-color: var(--content-background-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
}

.a_button {
    padding: 7px 50px;
    background-color: var(--primary-text-color);
    color: var(--content-background-color);
    border-radius: 3px;
}

.a_button:hover {
    background-color: var(--accent);
}

/* @keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }

.strike {
    position: relative;
}

.strike:hover::after {
    content: ' ';
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-text-color);
    animation-name: strike;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
} */

.strike {
  position: relative;
  display: block;
  cursor: pointer;
}

.strike:before, .strike:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  top: 54%;
  background: var(--primary-text-color);
}

.strike:before {
  left: -2.5px;
}

.strike:after {
  right: 2.5px;
  background: var(--primary-text-color);
  transition: width 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: var(--primary-text-color);
  width: 100%;
  transition: width 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--content-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 2px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--content-background-color); */
  opacity: 1;
  cursor: grab;
}

.hey-heading {
    
    text-transform: uppercase;
    font-size: 0.9em;
    color: var(--accent);
    font-weight: 600;

}

.no-content-text {
    opacity: var(--faded-opacity);
}

.tooltip .tooltip-text {
  
    visibility: hidden;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: x-small;
    letter-spacing: 0.7px;

}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--background-color) transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
  bottom: -32px;
}

#tiles {
    height: 100vh;
    width: 100%;

    position: fixed;
    z-index: -10;

    display: grid;
    grid-template-columns: repeat(var(--bg-columns), 1fr);
    grid-template-rows: repeat(var(--bg-rows), 1fr);

}

#tiles div {
    /* outline: solid red 1px; */
    background-image: radial-gradient(circle at 5px 5px, var(--content-background-color) 2px, transparent 0);
    background-size: 4vh 4vh;
    /* animation: scroll 6s linear infinite; */
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px 4vh; /* adjust to the size of your grid */
  }
}

#dots {

    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    touch-action: none;

}

.primary-btn {
    background-color: var(--text-color);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
    line-height: 12px;
}

.primary-btn *, .primary-btn {
    
    color: var(--bg-color-dark);
}

button.primary-btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color-dark);
}

.body-sm{
    font-size: 12px;
    line-height: 16px;

}

.blurb {
    font-style: italic;
    color: var(--text-color-muted);
    font-weight: 500;
}

button.secondary-btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
}

button.secondary-btn:hover {
    background-color: var(--bg-color-light);
    color: var(--text-color);
}


.tertiary-btn {
    background-color: transparent;
    color: var(--text-color-muted);
    text-decoration: underline;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
}

button.tertiary-btn:hover {
    background-color: transparent;
    color: var(--text-color);
}

.tertiary-btn svg, .tertiary-btn:hover svg {
    color: inherit;
}

button.full-width-btn {
    width: 100%;
    height: 44px;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 8px;
    
}