.dropdown.header-dropdown {
    padding: 14px 0px;
    border-radius: 10px;
    font-size: 18px;
}

.dropdown {

    padding: 3px 0px;
    margin: 0;
    border-radius: 6px;
    border: solid 2px transparent;
    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
    box-sizing: border-box;

}

.header-dropdown:hover {
    background-color: var(--content-background-color);
}

.header-dropdown:focus-visible{
    border-color: var(--accent);
    outline: none;
}

.header {
    text-align: left;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header-content {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header.top .progress {
    background-color: transparent;
}

.header:not(.top) {
    box-shadow: 0px -3px 15px 1px black;
}

.header:not(.top), .header:not(.top) .progress {
    background-color: var(--background-color);
}

.header:not(.top) .header-dropdown{
    background-color: var(--background-color);
}

.header:not(.top) .header-dropdown:hover{
    background-color: var(--content-background-color);
}

.sub-select {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {

    .sub-select {
        max-width: 0px;
    }
    
}

.page-title {
    transition: 0.2s;
    /* font-size: 48px; */
    margin: 20px 0px 20px 0px;
    display: inline-block;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-left: 7vw;
    font-size: 1.6em;
    animation: enter 0.8s;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.page-title::-webkit-scrollbar {
    display: none;
}

.page-title:hover {
    transition: 0.2s;
    color: var(--accent);
    letter-spacing: 0.3px;
    cursor: default;
}