.header-dropdown {
    padding: 14px;
    margin: 0;
    border-radius: 10px;
    color: rgb(196, 196, 196);
    border: solid rgb(196, 196, 196) 3px;
    font-size: 18px;
    font-weight: 500;
}

.header-dropdown:focus {
    border-color: rgb(196, 196, 196);
}

.header {
    text-align: left;
}