.header-dropdown {
    padding: 14px;
    margin: 0;
    border-radius: 10px;
    border: solid 2px transparent;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.header-dropdown:focus-visible{
    border-color: var(--accent);
    outline: none;
}

.header {
    text-align: left;
}

.sub-select {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}