.progress-bg {
    height: 100%;
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: top;
}

.progress {
    height: 9px;
    border-radius: 5px;
    /* border: solid 1px var(--content-background-color); */
    background-color:var(--primary-text-color);
    overflow: hidden;
    box-sizing: border-box;
}

.negative-progress-bg{
    /* border-right-width: 0; */
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
    /* border-right: solid 1px var(--content-background-color); */
}

.positive-progress-bg{
    /* border-left-width: 0; */
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* border-left: solid 1px var(--content-background-color); */
}

.negative-progress {
    background-color: red;
    height: inherit;
    margin-left: auto;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.positive-progress {
    background-color:deepskyblue;
    height: inherit;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}