.progress-bg {
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.progress {
    /* border-radius: 0px 0px 5px 5px; */
    /* border: solid 1px var(--background-color); */
    background-color:var(--content-background-color);
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    left: 0px;
    bottom: 0px;
}

.familiarity-wrapper {
    
    width: 100%;
    margin-top: -4px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--content-background-color);
    font-size: 0.8vw;
    font-weight: 400;
    padding: 4px 0px;
    background-color: var(--background-color);

}

.negative-progress {
    background-color: var(--red);
    height: inherit;
    margin-left: auto;
    margin-right: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.positive-progress {
    background-color:var(--blue);
    height: inherit;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.single-progress {
    background-color:var(--accent);
    height: inherit;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.familiarity-complete .progress {
    background: hsla(45, 100%, 56%, 1);

    background: linear-gradient(134deg, hsla(45, 100%, 56%, 1) 9%, hsla(57, 100%, 50%, 1) 18%, hsla(45, 100%, 56%, 1) 27%, hsla(45, 100%, 56%, 1) 58%, hsla(57, 100%, 50%, 1) 78%, hsla(45, 100%, 56%, 1) 98%);

    background: -moz-linear-gradient(134deg, hsla(45, 100%, 56%, 1) 9%, hsla(57, 100%, 50%, 1) 18%, hsla(45, 100%, 56%, 1) 27%, hsla(45, 100%, 56%, 1) 58%, hsla(57, 100%, 50%, 1) 78%, hsla(45, 100%, 56%, 1) 98%);

    background: -webkit-linear-gradient(134deg, hsla(45, 100%, 56%, 1) 9%, hsla(57, 100%, 50%, 1) 18%, hsla(45, 100%, 56%, 1) 27%, hsla(45, 100%, 56%, 1) 58%, hsla(57, 100%, 50%, 1) 78%, hsla(45, 100%, 56%, 1) 98%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFC81E", endColorstr="#FFF200", GradientType=1 );

}

.familiarity-complete .card-link:hover .track-card-heading {
    color: var(--gold);
}

.familiarity-complete:hover {
    border-color:var(--gold);
}

.familiarity-complete .progress *{
    background-color: transparent;
}