.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: var(--max-nav-height);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent -10%, var(--background-color) );
}

nav .current {
    transition: 0.5s;
    border-bottom: var(--accent) solid 3px;
    color: var(--accent);
}

nav .current * {
    color: var(--accent);
}

nav .current p {
    transition: 0.5s;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--accent);
}

nav a {
    transition: 0.5s;
    display: block;
    float: left;
    text-align: center;
    padding: 10px 5px 3px 5px;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
    font-size: 18px;
    min-width: 55px;
}

nav a p {
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

nav a:not(.nav-back):hover {
    background-color: var(--content-background-color);
    border-radius: 2px 2px 0px 0px;
}

.navbar>nav {
    display: flex;
}

.nav-back:hover {
    transform: translateX(-2px);
}