.primaryBtn {
    background-color: hsl(166, 62%, 40%);
    padding: 0.7rem 1rem;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3px;
    cursor: pointer;
    width: fit-content;
    min-width: fit-content;
}

button.primaryBtn *, button.primaryBtn {
    
    color: var(--dk-text-color);
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07),
    0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

button.primaryBtn:hover {
    background-color: hsl(166, 96%, 33%);
    color: var(--dk-text-color);

}