.task {
    text-align: start;
}

.task:hover{
    cursor: pointer;
    background-color: var(--content-background-color);
}

.task:not(.next-task):hover {
    transform: translateX(10px);
}

.completed_task {
    opacity: var(--faded-opacity);
}

.completed_task p {
    text-decoration: line-through;
}

.add_new {
    text-decoration: underline;
    position: fixed;
    bottom: 100px;
    right: 50px;
    background-color: var(--accent);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    /* transition: 0.2s cubic-bezier(0.42, 0.22, 0.38, 1.58); */
}

.add_new * {
    color: var(--background-color);
}

.add_new:hover {
    color: var(--accent);
    transform: translateY(-2px);
    /* width: 100px; */
}

.overdue_task .task_deadline {
    color: var(--red);
}

.next-task :is(.task-text, .deadline-wrap) {
    text-align: start;
    margin: 0px;
    cursor: default;
}

.next-task :is(.task-text, .deadline-wrap):hover {
    padding-left: 5px;
    cursor: pointer;
}

.next-task .task-text {
    width: fit-content;
    padding-right: 7px;
    display: inline-block;
    font-size: 3em;
}

.next-task{
    padding-left: 30px;
    margin: 1vh 0px 24vh;
    border: solid transparent 1px;
    border-radius: 15px;
    background-color: transparent;
    position: relative; 
    display: flex;
    align-items: center;
}

.next-task:hover {
    margin-left: -30px;
    padding-right: 30px;
}

.next-task.completed_task {
    transform: translateX(-150vh);
    visibility: hidden;

}

.deadline-wrap {
    font-size: 1em;
    opacity: calc(0.4 + var(--faded-opacity));
}

@media (max-width: 768px) {
    .next-task {

        margin: 1vh -30px 24vh;
        transform: none;

    }

    .next-task:hover {

        margin: 1vh 0px 24vh;
        
    }

    .strike::after, .strike::before {
        display: none;
    }

    .add_new {
        bottom: 85px;
        right: 35px;        
    }
}

.center-div {
    
    padding-top: 6vh;
    padding-bottom: 6.8vh;

}

.next-icon {
    
    position: absolute;
    right: 19px;
    font-size: large;
    opacity: var(--faded-opacity)

}

@media (min-width: 768px){
    
    .next-icon {

        opacity: 0;
        visibility: hidden;

    }

}

.next-task:hover .next-icon:hover {

    opacity: 1;
    
}

#skip-for-now {
    
    bottom: 10px;

}

#edit-task {

    top: 10px;

}

.next-task:hover .next-icon {

    opacity: var(--faded-opacity);
    visibility: visible;

}