.paper-link {
    border-radius: 4px;
    padding: 4px;
}

.collapse-content {
    display: none;
    overflow: hidden;
}

.collapse-btn {
    background-color:transparent;
    color: var(--primary-text-color);
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 10px 30%;
    margin: 2px;
}

.collapse-btn:focus{
    background-color: var(--content-background-color);
    border-color: var(--accent);
}

.collapse-btn:hover {
    background-color: var(--content-background-color);
    cursor: pointer;
}