.paper-link {
    border-radius: 4px;
    padding: 4px;
}

.collapse-content {
    display: none;
    overflow: hidden;
}

.collapse-btn {
    background-color:rgba(255, 255, 255, 0);
    border: solid 1px rgb(222, 222, 222);
    border-radius: 4px;
    padding: 10px 30%;
    margin: 2px;
}

.collapse-btn:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}